<?xml version='1.0' encoding='utf-8'?>
<widget id="net.khertan.rulespasswords" version="0.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RulesPasswords</name>
    <description>
        A PasswordMaker like application : RulesPasswords generate a unique passwords from an URL and a master password, so, no need to remember this unique password.
    </description>
    <author email="khertan@khertan.net" href="http://khertan.net">Benoit HERVIER</author>
    <publisher>Benoit HERVIER</publisher>
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <platform name="blackberry10">
        <rim:permissions>
            <rim:permit>read_device_identifying_information</rim:permit>
        </rim:permissions>
    </platform>
    <platform name="android">
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
    </platform>
    <preference name="xwalkVersion" value="18+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
