<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>RulesPasswords</title>

  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css">
  <link rel="stylesheet" href="styles/app.css" />

  <script src="lib/onsen/js/angular/angular.min.js"></script>
  <script src="lib/onsen/js/onsenui.min.js"></script>
  <script src="cordova.js"></script>
  <script src="js/app.js"></script>

  <script>
    angular.module('app', ['onsen']);

    angular.module('app').controller('AppController', function($scope) {

      $scope.data = {};

      $scope.doAlert = function(msg) {
        setTimeout(function() {
            ons.notification.alert({'message':msg, 'title':'RulesPasswords'});
        }, 100);
      };

      $scope.next = function() {
        $scope.dialog.hide();
        ons.createDialog('l33t.html').then(function(dialog) {
          dialog.show();
        });
      };

      $scope.show = function(dlg) {
        ons.createDialog(dlg).then(function(dialog) {
          dialog.show();
        });
      };

      $scope.setListPref = function(option, value) {
        console.log('SetPrefs:' + option + ':' + value);
        localStorage.setItem(option, JSON.stringify(value));
        $scope.data[option] = value;
        dialog.hide();
      };

      $scope.getDefPref = function(option) {
        if (option == 'hashalgorithm') {
          return 'md5';
        } else if (option == 'leetwhere') {
          return 'off';
        } else if (option == 'leetlevel') {
          return '5';
        } else if (option == 'plength') {
          return '10';
        } else if (option == 'characters') {
          return 'Base93';
        } else if (option == 'preURL') {
          return '';
        }
      };

      $scope.getListPref = function(option) {
        try {
          var value = JSON.parse(localStorage.getItem(option));
          console.log('getPrefs:' + option + ':' + value);

          if (((value === "") || (value === null)) || (value == "null")) {
            return $scope.getDefPref(option);
          }

          return value;
        } catch (err) {
          console.log('getPrefs Error : ' + option + ':' + err);
          return $scope.getDefPref(option);
        }
      };

      $scope.setIPLength = function() {
        console.log(document.getElementById("iplength").value);
        $scope.setListPref('plength', document.getElementById("iplength").value);
      };

      $scope.copy = function() {
        if (device.platform == "blackberry10") {
          community.clipboard.setText($scope.data.generatedPassword);
        } else {
          cordova.plugins.clipboard.copy($scope.data.generatedPassword);
        }
        $scope.doAlert('Password copied to clipboard.');
      };

      $scope.generate = function() {
        passwdMaster = $scope.data.passwdMaster;
        passwdUrl = $scope.data.preURL;
        localStorage.setItem('preURL', JSON.stringify(passwdUrl));

        $scope.data.generatedPassword = preGeneratePassword(passwdUrl,
          passwdMaster, $scope.data.characters,
          $scope.data.hashalgorithm, $scope.data.leetwhere,
          $scope.data.leetlevel, $scope.data.plength);
      };

      $scope.data.hashalgorithm = $scope.getListPref('hashalgorithm');
      $scope.data.leetwhere = $scope.getListPref('leetwhere');
      $scope.data.leetlevel = $scope.getListPref('leetlevel');
      $scope.data.plength = $scope.getListPref('plength');
      $scope.data.characters = $scope.getListPref('characters');

      $scope.data.preURL = $scope.getListPref('preURL');
      $scope.data.passwdMaster = '';
    });
  </script>

</head>

<body ng-controller="AppController">

  <ons-navigator animation="slide" page="main.html" var="ons.navigator">
  </ons-navigator>


  <ons-template id="main.html">
    <ons-page>
      <ons-toolbar>
        <div class="left"></div>
        <div class="center">RulesPasswords</div>
        <div class="right">
          <ons-toolbar-button ng-click="ons.navigator.pushPage('settings.html')">
            <ons-icon icon="ion-settings"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <div class="login-form">
        <input type="text" class="text-input fullwidth" placeholder="Text" value="" id="preURL" ng-model="data.preURL" ng-change="">
        <br>
        <input type="password" class="text-input fullwidth" placeholder="MasterPassword" value="" id="passwdMaster" ng-model="data.passwdMaster" ng-change="" value="">
        <p class="result" id="passwdGenerated" ng-bind='data.generatedPassword'></p>
        <ons-button modifier="large" class="generate-button" ng-click="generate()">Generate</ons-button>
        <br>
        <ons-button modifier="large" class="copy-button" ng-click="copy()">Copy</ons-button>
      </div>

    </ons-page>
  </ons-template>

  <ons-template id="licences.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">RulesPasswords</div>
      </ons-toolbar>

      <div class="card">
        <div class="card-name">Licenced under the terms of the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU GPL v3.0</a></div>
        <div class="card-desc">Copyright 2014 Benoit HERVIER
          <br> Source available on http://github.com/khertan/RulesPasswords
          <br> Include code from passwordmaker.js library</div>
      </div>

    </ons-page>
  </ons-template>



  <ons-template id="hashalgorithm.html">
    <ons-dialog var="dialog" cancelable>
      <ons-list>

        <ons-list-header>Hash Algorithm</ons-list-header>
        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'md5');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            md5
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'md5_v6');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            md5_v6
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'hmac-md5');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            hmac-md5
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'hmac-md5_v6');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            hmac-md5_v6
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'sha1');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            sha1
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'hmac-sha1');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            hmac-sha1
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'sha256');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            sha256
          </label>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'hmac-sha256_fix');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            hmac-sha256_fix
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'hmac-sha256');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            hmac-sha256
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'rmd160');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            rmd160
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('hashalgorithm', 'hmac-rmd160');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            hmac-rmd160
          </label>
        </ons-list-item>
    </ons-dialog>
  </ons-template>

  <ons-template id="l33t.html">
    <ons-dialog var="dialog" cancelable>
      <ons-list>
        <ons-list-header>Use l33t</ons-list-header>
        <ons-list-item modifier="tappable" ng-click="setListPref('leetwhere', 'off');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="off">
            <!-- checked="checked"-->
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            off
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('leetwhere', 'before-hashing');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="before-hashing">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            before-hashing
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('leetwhere', 'after-hashing');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="after-hashing">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            after-hashing
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('leetwhere', 'both');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="both">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            both
          </label>
        </ons-list-item>
    </ons-dialog>
  </ons-template>

  <ons-template id="characters.html">
    <ons-dialog var="dialog" cancelable>
      <ons-list>

        <ons-list-header>Use l33t</ons-list-header>
        <ons-list-item modifier="tappable" ng-click="setListPref('characters', 'Base93');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            Base93
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('characters', 'Alphanum');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            Alphanum
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('characters', 'Numeric');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            Numeric
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('characters', 'Alpha');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            Alpha
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('characters', 'Symbols')">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            Symbols
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('characters', 'Base58');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            Base58
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('characters', 'Base16');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            Base16
          </label>
        </ons-list-item>
    </ons-dialog>
  </ons-template>

  <ons-template id="l33tlevel.html">
    <ons-dialog var="dialog" cancelable>
      <ons-list>

        <ons-list-header>l33t Level</ons-list-header>
        <ons-list-item modifier="tappable" ng-click="setListPref('leetlevel', '1');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            1
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('leetlevel', '2');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            2
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('leetlevel', '3');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            3
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('leetlevel', '4');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            4
          </label>
        </ons-list-item>
        <ons-list-item modifier="tappable" ng-click="setListPref('leetlevel', '5');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            5
          </label>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="setListPref('leetlevel', '6');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            6
          </label>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="setListPref('leetlevel', '7');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            7
          </label>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="setListPref('leetlevel', '8');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            8
          </label>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="setListPref('leetlevel', '9');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            9
          </label>
        </ons-list-item>

        <ons-list-item modifier="tappable" ng-click="setListPref('leetlevel', '10');">
          <label class="radio-button radio-button--list-item">
            <input type="radio" name="a">
            <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
            10
          </label>
        </ons-list-item>
    </ons-dialog>
  </ons-template>

  <ons-template id="settings.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Settings</div>
      </ons-toolbar>

      <ons-row class="profile-wrapper">
        <ons-col width="70px" class="profile-image-wrapper">
          <img class="profile-image" src="img/icon.png">
        </ons-col>

        <ons-col>
          <div class="profile-name">RulesPasswords</div>
          <div class="profile-email">v0.0.7</div>
        </ons-col>

      </ons-row>

      <div class="settings-header">l33t</div>
      <ons-list modifier="inset" class="settings-list">

        <ons-list-item modifier="chevron" class="ons-list-item-inner" ng-click="show('l33t.html')">
          <ons-icon icon="fa-code" size="20px"></ons-icon>
          Use l33t
          <span class="list-item-note lucent" ng-bind="data.leetwhere">off</span>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="ons-list-item-inner" ng-click="show('l33tlevel.html')">
          <ons-icon icon="fa-code" size="20px"></ons-icon>
          l33t Level
          <span class="list-item-note lucent" ng-bind="data.leetlevel">5</span>
        </ons-list-item>

      </ons-list>

      <div class="settings-header">Hash</div>
      <ons-list modifier="inset" class="settings-list">

        <ons-list-item modifier="chevron" class="ons-list-item-inner" ng-click="show('hashalgorithm.html')">
          <ons-icon icon="fa-tag" size="20px"></ons-icon>
          Hash Algorithm
          <span class="list-item-note lucent" ng-bind="data.hashalgorithm">md5</span>
        </ons-list-item>

        <ons-list-item class="ons-list-item-inner">
          <ons-row>
            <ons-col>
              <ons-icon icon="fa-leaf" size="20px"></ons-icon>
              Length
            </ons-col>
            <ons-col>
              <span class="lucent" ng-bind="data.plength" style='margin-top: 2em'></span>
            </ons-col>

            <ons-col class="range-wrapper">
              <input type="range" value="10" class="range" min="1" max="24" ng-model="data.plength" name="iplength" id="iplength" ng-change="setIPLength()" value="{{data.plength}}">
            </ons-col>

          </ons-row>
        </ons-list-item>


        <ons-list-item modifier="chevron" class="ons-list-item-inner" ng-click="show('characters.html')">
          <ons-icon icon="fa-filter" size="20px"></ons-icon>
          Characters
          <span class="list-item-note lucent" ng-bind="data.characters">Base58</span>
        </ons-list-item>

      </ons-list>

      <div class="settings-header">Others</div>

      <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron" ng-click="ons.navigator.pushPage('licences.html')">
          Licences
        </ons-list-item>
      </ons-list>

      <br>

    </ons-page>
  </ons-template>

</body>

</html>
